{% extends "master/base.html" %} 

{% block content %}

<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>Recent Locatons</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  	var perth1 = {lat: -32.003634, lng: 115.751830};
  	var perth2 = {lat: -31.954785, lng: 115.837961};
  	var parth3 = {lat: -31.986585, lng: 115.791299};

  	var locations = [perth1, perth2, perth3];

  	var map = new google.maps.Map(
  		document.getElementById('map'), {zoom: 4, center: perth1});

for (var i = 0; i < locations.length; i++) {
  	var marker = new google.maps.Marker({
  		position: locations[i], map: map
  	});
  };
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWr2wYPjowOdfbiaxKMaY9-C0BLkn4Xts&callback=initMap">
    </script>
  </body>
</html>
{% endblock content %}